<!DOCTYPE html>

<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="content-language" content="zh-cn"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>成长历程 - 随访数据库</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no"/>
    <meta name="keywords" content="围产新生儿科研合作平台,随访数据库,成长历程"/>
    <meta name="description" content="围产新生儿科研合作平台随访数据库成长历程"/>
    <meta name="author" content="Linyer"/>
    <meta name="theme-color" content="#11B2B9"/>

    <link rel="shortcut icon" th:href="@{/favicon.svg}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/utils/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/utils/iconfont/iconfont.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/database.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/followDatabase.min.css}"/>

    <script type="text/javascript" th:src="@{/js/utils/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/utils/layui/layui.js}"></script>
</head>

<body class="layui-layout-body">
<div id="PC-main">
    <div class="layui-layout pc-layout">
        <!-- 水平菜单 -->
        <div th:replace="include/PPHead::header"></div>

        <!-- 左侧导航栏（可伸缩式） -->
        <div class="layui-side pc-side-menu">
            <div class="layui-side-scroll">

                <!-- 网站logo信息 -->
                <div class="layui-logo">
                    <a href="/">
                        <img src="/favicon.svg" height="30px" alt="logo">
                        <h1>
                            <a href="/">
                                <i class="iconfont icon-home"></i>
                                <cite>首页</cite>
                            </a>
                        </h1>
                    </a>
                </div>

                <ul th:replace="include/gpNav::navigation"></ul>
            </div>
        </div>

        <!-- 内容主体区域 -->
        <div class="layui-body">
            <div class="pc-body-framework pc-db-FDGP layui-form" sec:authorize="hasRole('ROLE_FDGP')">
                <span class="layui-breadcrumb">
                    <a href="#"><cite>门诊就诊</cite></a>
                    <a href="/perinatalPlatform/followDatabase/write/GP/HT">住院治疗</a>
                    <a href="/perinatalPlatform/followDatabase/write/GP/FP">随访计划</a>
                    <a href="/perinatalPlatform/followDatabase/write/GP/DC">疾病防治</a>
                </span>
                <div class="layui-row pc-db-FDGPOV" th:data-birthday="${#calendars.format(birthMsg.birthday, 'yyyy-MM-dd')}" th:data-gaw="${birthMsg.gestationalAgeWeek}" th:data-gad="${birthMsg.gestationalAgeDay}">
                    <div class="layui-col-lg12">
                        <div class="pc-db-item pc-db-item-unit">
                            <label for="PC-db-VN">就诊次数</label>
                            <input id="PC-db-VN" type="number" name="visitNumber" th:value="${visitNumber} ? ${visitNumber} : '0'" lay-verify="requiredDB" readonly>
                            <span>次</span>
                        </div>
                    </div>
                    <div class="layui-col-lg12">
                        <div class="pc-db-item-table addList">
                            <table class="pc-db-table">
                                <thead>
                                <tr>
                                    <th>日期</th>
                                    <th>矫正年龄</th>
                                    <th>就诊原因</th>
                                    <th>其他原因</th>
                                    <th>医生建议</th>
                                    <th>删除</th>
                                </tr>
                                </thead>
                                <tbody th:data-num="${ovList} ? ${ovList.size()} : _">
                                <tr th:each="ov, status : ${ovList}" th:object="${ov}">
                                    <td>
                                        <input th:id="'PC-db-VD' + (${status.index} + 1)" type="text" th:name="'visitDate' + (${status.index} + 1)" th:value="*{#calendars.format(visitDate, 'yyyy-MM-dd')}" lay-verify="required" placeholder="请选择就诊日期" lay-reqText="请选择就诊日期！" readonly>
                                    </td>
                                    <td>
                                        <input th:id="'PC-db-CA' + (${status.index} + 1)" type="text" readonly>
                                        <input th:id="'PC-db-CGAW' + (${status.index} + 1)" type="hidden" th:name="'cgaWeek' + (${status.index} + 1)" th:value="*{cgaWeek}">
                                        <input th:id="'PC-db-CGAD' + (${status.index} + 1)" type="hidden" th:name="'cgaDay' + (${status.index} + 1)" th:value="*{cgaDay}">
                                        <input th:id="'PC-db-CAM' + (${status.index} + 1)" type="hidden" th:name="'correctedAgeMonth' + (${status.index} + 1)" th:value="*{correctedAgeMonth}">
                                        <input th:id="'PC-db-CAD' + (${status.index} + 1)" type="hidden" th:name="'correctedAgeDay' + (${status.index} + 1)" th:value="*{correctedAgeDay}">
                                    </td>
                                    <td>
                                        <select th:name="'visitReason' + (${status.index} + 1)" lay-reqText="请选择就诊原因！" lay-verify="required">
                                            <option value="">请选择就诊原因</option>
                                            <option value="呼吸道疾病" th:selected="*{visitReason eq '呼吸道疾病'} ? true : _">呼吸道疾病</option>
                                            <option value="胃肠消化疾病" th:selected="*{visitReason eq '胃肠消化疾病'} ? true : _">胃肠消化疾病</option>
                                            <option value="感染发热" th:selected="*{visitReason eq '感染发热'} ? true : _">感染发热</option>
                                            <option value="惊厥神经疾病" th:selected="*{visitReason eq '惊厥神经疾病'} ? true : _">惊厥神经疾病</option>
                                            <option value="意外伤害" th:selected="*{visitReason eq '意外伤害'} ? true : _">意外伤害</option>
                                            <option value="哭闹" th:selected="*{visitReason eq '哭闹'} ? true : _">哭闹</option>
                                            <option value="父母关切" th:selected="*{visitReason eq '父母关切'} ? true : _">父母关切</option>
                                            <option value="皮肤或皮疹" th:selected="*{visitReason eq '皮肤或皮疹'} ? true : _">皮肤或皮疹</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" th:name="'otherReasons' + (${status.index} + 1)" th:value="*{otherReasons}" placeholder="请填写其他原因">
                                    </td>
                                    <td>
                                        <input type="text" th:name="'doctorAdvice' + (${status.index} + 1)" th:value="*{doctorAdvice}" placeholder="请填写医生建议">
                                    </td>
                                    <td>
                                        <button th:id="'PC-db-ovDelete' + (${status.index} + 1)" class="pc-btn pc-btn-danger"><i class="iconfont icon-delete"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button id="PC-db-addOV" class="pc-btn"><i class="iconfont icon-zengjia"></i> 新增</button>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="pc-db-save">
                        <button class="pc-btn pc-btn-save" lay-filter="GPOV" lay-submit>保存信息</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 用于移动设备遮罩 -->
        <div id="PC-shade"></div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/js/utils/myTools.min.js}"></script>
<script type="text/javascript" th:src="@{/js/common.min.js}"></script>
<script type="text/javascript" th:src="@{/js/FDWrite.min.js}"></script>
</html>