<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="zh">
<body>
    <div class="layui-header" th:fragment="header">
        <!-- 水平菜单 左侧 -->
        <ul class="layui-nav layui-layout-left fa-im">
            <!-- 侧边伸缩 按钮 -->
            <li class="layui-nav-item pc-flexible" lay-unselect>
                <a id="PC-side-flexible" href="javascript:void(0);" title="侧边伸缩">
                    <i class="layui-icon layui-icon-shrink-right"></i>
                </a>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <button class="layui-btn layui-btn-normal layui-btn-xs layui-btn-radius pc-admin-btn-back" onclick="window.history.back();">
                    <i class="iconfont icon-return"></i>
                    返回
                </button>
            </li>

            <!-- 母亲、患儿 围产新生儿科研合作平台编号、住院号 -->
            <li class="layui-nav-item pc-menu-head layui-hide-xs" th:text="${session.pcMotherNum} ? 'PM：' + (${session.pcMotherNum} ? ${session.pcMotherNum} : _)">
            </li>

            <li class="layui-nav-item pc-menu-head layui-hide-xs" th:text="${session.motherHospitalNum} ? '母亲住院号：' + (${session.motherHospitalNum} ? ${session.motherHospitalNum} : _)">
            </li>

            <li class="layui-nav-item pc-menu-head layui-hide-xs" th:text="${session.pcChildNum} ? 'PN：' + (${session.pcChildNum} ? ${session.pcChildNum} : _)">
            </li>

            <li class="layui-nav-item pc-menu-head layui-hide-xs" th:text="${session.childFullName} ? '新生儿姓名：' + (${session.childFullName} ? ${session.childFullName} : _)">
            </li>

            <li class="layui-nav-item pc-menu-head layui-hide-xs" th:text="${session.childHospitalNum} ? '新生儿住院号：' + (${session.childHospitalNum} ? ${session.childHospitalNum} : _)">
            </li>
        </ul>

        <!-- 水平菜单 右侧 -->
        <ul class="layui-nav layui-layout-right">
            <!-- 个人操作 下拉菜单 -->
            <li class="layui-nav-item" lay-unselect>
                <a href="javascript:void(0);">
                    <cite>
                        <span sec:authentication="principal.username"></span>
                        <span sec:authentication="principal.user.fullName"></span>
                    </cite>
                </a>

                <dl class="layui-nav-child">
                    <dd><a href="/logout">退出登录</a></dd>
                </dl>
            </li>

            <!-- 全屏 按钮 -->
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a id="PC-fullscreen" href="javascript:void(0);" title="全屏">
                    <i class="layui-icon layui-icon-screen-full"></i>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>