/*
    统一动画
*/
.pc-layout .layui-header .layui-nav .layui-nav-item,
.pc-layout .layui-layout-left,
.pc-layout,
.pc-layout .layui-body,
.pc-layout .pc-body-framework,
.pc-layout .layui-footer,
.pc-layout .layui-side,
.pc-layout .layui-logo,
.pc-layout .pc-link,
.pc-layout .pc-input,
.pc-layout .layui-header .layui-layout-right,
.pc-nav-btn, .pc-btn, .pc-btn-save {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.pc-layout .pc-input-line,
.pc-layout .pc-label>span {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
/* 滚动条 */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    background: #9F9F9F;
    border-radius: 3px;
}
/* 自定义 菜单 */
.pc-right-menu {
    position: absolute;
    width: 120px;
    padding: 5px;
    border-radius: 2px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 18px 1px #AAA;
    z-index: 9999;
}
.pc-right-menu>ul {
    font-size: 14px !important;
    font-weight: lighter;
    color: #888;
}
.pc-right-menu>ul>li {
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 10px;
}
.pc-right-menu>ul>li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #FFB7C5;
}
.pc-right-menu>ul>li>i {
    font-size: 14px;
}
.pc-right-menu>ul>li>p {
    display: inline-block;
}
.pc-right-menu>ul>li>p:nth-child(2) {
    padding-left: 5px;
}
.pc-right-menu>ul>li>p:last-child {
    font-size: 12px;
    float: right;
}

/* 数字 输入框 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number] {
    -moz-appearance: textfield;
}
/*
    布局结构
*/
html, body, #PC-main, .pc-layout {
    height: 100%;
    width: 100%;
}
#PC-main .pc-layout {
    overflow-x: hidden;
    -ms-overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-y: scroll;
}
.pc-layout .layui-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
}
.pc-layout .layui-header .layui-nav .layui-nav-child a {
    color: #333;
}
.pc-layout .layui-side {
    width: 160px;
    top: 0;
    z-index: 1001;
}
.pc-layout .layui-logo,
.pc-layout .layui-header .layui-nav .layui-nav-item {
    height: 50px;
    line-height: 50px;
}
.pc-layout .layui-logo {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1002;
    width: 160px;
    height: 49px;
    padding: 0 5px;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: 300;
    background-repeat: no-repeat;
    background-position: center center;
}
.pc-layout .layui-layout-left,
.pc-layout .layui-body,
.pc-layout .layui-footer {
    left: 160px;
}
.pc-layout .layui-body {
    padding-top: 50px;
    min-height: 100%;
}
.pc-layout .layui-header .layui-nav-img {
    width: 26px;
    height: 26px;
}
.pc-layout .layui-header .layui-nav-child {
    top: 55px;
}
.pc-layout .layui-header .layui-layout-right .layui-nav-child {
    left: auto;
    right: 0;
}
.pc-layout .layui-header .layui-nav .layui-nav-child dd.layui-this a,
.pc-layout .layui-header .layui-nav .layui-nav-child dd.layui-this {
    background: none;
}

/*
    头部菜单
*/
.pc-layout .layui-layout-left {
    padding: 0 10px;
}
.pc-layout .layui-layout-left .layui-nav-item {
    margin: 0 10px;
}
.pc-layout .layui-input-search {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    cursor: text;
}
.pc-layout .layui-layout-left a {
    padding: 0;
}
.pc-layout .layui-layout-right {
    padding: 0;
}
.layui-header .layui-layout-right .layui-badge-dot {
    margin-left: 11px;
}
.pc-layout .layui-logo h1 {
    display: inline-block;
    margin-left: 18px;
    font-weight: 400;
    font-size: 16px;
    font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
    vertical-align: middle;
}
.layui-header .pc-admin-btn-back {
    border: 1px solid white;
}
.layui-header .pc-menu-head {
     font-size: 16px;
}
.layui-header .pc-menu-search {
    position: relative;
}
.layui-header .pc-menu-search input {
    border: 1px solid white;
    padding: 2px 22px 2px 8px;
    width: 116px;
    border-radius: 5px;
    color: white;
}
.layui-header .pc-menu-search input::-webkit-input-placeholder {  /* WebKit browsers */
    font-size: 12px;
    color: white;
}
.layui-header .pc-menu-search input:-moz-placeholder {  /* Mozilla Firefox 4 to 18 */
    font-size: 12px;
    color: white;
}
.layui-header .pc-menu-search input::-moz-placeholder {  /* Mozilla Firefox 19+ */
    font-size: 12px;
    color: white;
}
.layui-header .pc-menu-search input:-ms-input-placeholder {  /* Internet Explorer 10+ */
    font-size: 12px;
    color: white;
}
.layui-header .pc-menu-search button {
    cursor: pointer;
    background: transparent;
    border: none;
    color: white;
    position: absolute;
    top: 18px;
    left: 128px;
}

/*
    侧边导航
*/
.pc-side-menu .layui-side-scroll {
    width: 180px;
}
.pc-side-menu .layui-nav {
    width: 160px;
    margin-top: 50px;
    background: none;
}
.pc-side-menu .layui-nav .layui-nav-item a {
    height: 40px;
    line-height: 40px;
    padding-left: 45px;
    padding-right: 30px;
}
.pc-side-menu .layui-nav .layui-nav-item>.pc-item {
    padding-top: 8px;
    padding-bottom: 8px;
}
.pc-side-menu .layui-nav .layui-nav-item a:hover {
    background: none;
}
.pc-side-menu .layui-nav .layui-nav-itemed>.layui-nav-child {
    padding: 5px 0;
}
.pc-side-menu .layui-nav .layui-nav-item .pc-icon {
    position: absolute;
    left: 20px;
}
.pc-side-menu .layui-nav .layui-nav-child .layui-nav-child {
    background: none!important;
}
.pc-side-menu .layui-nav .layui-nav-child .layui-nav-child a {
    padding-left: 60px;
}
.pc-side-menu .layui-nav .layui-nav-more {
    right: 15px;
}

/* 侧边导航 - 移动模式 - 收缩 */
@media screen and (max-width: 992px) {
    .pc-layout .layui-side {
        width: 160px;
        transform: translate3d(-160px, 0, 0);
        -webkit-transform: translate3d(-160px, 0, 0);
        -moz-transform: translate3d(-160px, 0, 0);
        -o-transform: translate3d(-160px, 0, 0);
    }
    .pc-layout .layui-layout-left,
    .pc-layout .layui-body,
    .pc-layout .layui-footer {
        left: 0;
    }
}

/* 侧边导航 - 移动模式 - 展开 */
.pc-side-spread-sm .pc-layout .layui-layout-left,
.pc-side-spread-sm .pc-layout .layui-body,
.pc-side-spread-sm .pc-layout .layui-footer {
    left: 0;
    transform: translate3d(160px, 0, 0);
    -webkit-transform: translate3d(160px, 0, 0);
    -moz-transform: translate3d(160px, 0, 0);
    -o-transform: translate3d(160px, 0, 0);
}
.pc-side-spread-sm .pc-layout .layui-layout-right {
    transform: translate3d(160px, 0, 0);
    -webkit-transform: translate3d(160px, 0, 0);
    -moz-transform: translate3d(160px, 0, 0);
    -o-transform: translate3d(160px, 0, 0);
}
.pc-side-spread-sm .layui-side {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
}
.pc-side-spread-sm .layadmin-body-shade {
    display: block;
}

/* 侧边导航 - 桌面模式 - 收缩 */
.pc-side-shrink .pc-layout .layui-logo {
    width: 60px;
}
.pc-side-shrink .pc-layout .layui-logo span {
    display: none;
}
.pc-side-shrink .layui-side {
    left: 0;
    width: 60px;
}
.pc-side-shrink .pc-layout .layui-layout-left,
.pc-side-shrink .pc-layout .layui-body,
.pc-side-shrink .pc-layout .layui-footer {
    left: 60px;
}
.pc-side-shrink .pc-side-menu .layui-nav {
    position: static;
    width: 60px;
}
.pc-side-shrink .pc-side-menu .layui-nav-item {
    position: static;
}
.pc-side-shrink .pc-side-menu .layui-nav-item>a {
    padding-right: 0;
}
.pc-side-shrink .pc-side-menu .layui-nav-item cite,
.pc-side-shrink .pc-side-menu .layui-nav > .layui-nav-item > a .layui-nav-more,
.pc-side-shrink .pc-side-menu .layui-nav > .layui-nav-item > .layui-nav-child {
    display: none;
    padding: 8px 0;
    width: 200px;
}
.pc-side-shrink .pc-side-menu .layui-nav > .layui-nav-itemed>a {
    background: rgba(0,0,0,.3);
}

/* 遮罩 */
.pc-body-shade {
    position: fixed;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.3);
    z-index: 1000;
    cursor: pointer;
}

/*
    默认主题
*/
/* 输入框 */
.pc-layout .pc-form-item {
    position: relative;
    clear: both;
    *zoom: 1;
    padding-top: 25px;
}
.pc-layout .pc-label>span,
.pc-layout .pc-label>span.active {
    transform: translateY(-16px) scale(0.8);
    -webkit-transform: translateY(-16px) scale(0.8);
    -moz-transform: translateY(-16px) scale(0.8);
    -o-transform: translateY(-16px) scale(0.8);
}
.pc-layout .pc-label>span {
    z-index: 888;
    color: #707070;
    position: absolute;
    top: 20px;
    left: 0.75rem;
    font-size: 1rem;
    cursor: text;
    transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    text-align: initial;
    transform: translateY(12px);
    -webkit-transform: translateY(12px);
    -moz-transform: translateY(12px);
    -o-transform: translateY(12px);
}
.pc-layout .pc-input {
    height: 38px;
    line-height: 1.3;
    line-height: 38px\9;
    border-style: solid;
    background-color: white;
    border-radius: 2px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 2px;
    border-width: 0;
}
.pc-layout .pc-input:focus+.pc-input-line {
    width: 100%;
}
.pc-layout .pc-input-line {
    position: relative;
    top: -2px;
    height: 2px;
    width: 0;
}

.pc-layout .layui-form-danger:focus+.pc-input-line {
    background-color: #FF5722;
}

.layui-form-checkbox span {
    background-color: #BFBFBF;
}
.layui-form-checkbox:hover span {
    background-color: #A0A0A0;
}
.layui-form-checkbox i {
    border: 1px solid #BFBFBF;
    border-left: none;
}
.layui-form-checkbox:hover i {
    border-color: #A0A0A0;
}
.layui-form-checkbox:hover i {
    color: #A0A0A0;
}
.layui-checkbox-disbaled span {
    background-color: #D1D1D1!important;
}
.layui-checkbox-disbaled i {
    color: white !important;
}
.layui-header .pc-menu-search input,
.pc-layout .layui-nav-tree .layui-this,
.pc-layout .layui-nav-tree .layui-this>a,
.pc-layout .layui-nav-tree .layui-nav-child dd.layui-this,
.pc-layout .layui-nav-tree .layui-nav-child dd.layui-this a,
.pc-layout .layui-form-select dl dd.layui-this,
.layui-form-checked span,
.layui-form-checked:hover span,
.pc-layout .layui-form-onswitch,
.pc-layout .pc-input-line,
.layui-nav-tree .layui-nav-bar,
.layui-form-checked[lay-skin=primary] i,
.layui-transfer-active .layui-btn {
    background-color: #FFB7C5;
}
.layui-form-checked i,
.layui-form-checked:hover i,
.layui-form-radio:hover *,
.layui-form-radioed,
.layui-form-radioed>i,
.pc-layout .layui-upload-drag .layui-icon,
.layui-laypage a:hover {
    color: #FFB7C5;
}
body, #PC-main,
.layui-body {
    background-color: #F2F2F2;
}
body, #PC-main {
    position: absolute;
    overflow: hidden;
}
.layui-nav-tree .layui-nav-bar {
    width: 5px;
    height: 0;
}
.pc-layout .layui-form-onswitch,
.layui-form-checkbox[lay-skin=primary]:hover i,
.layui-transfer-active .layui-btn {
    border-color: #FFB7C5;
}
.layui-form-checked[lay-skin=primary] i {
    border-color: #FFB7C5 !important;
}
.pc-layout .layui-form-checkbox[lay-skin=primary] span {
    background: none;
}
.pc-layout .layui-header {
    box-shadow: 0 0 12px 1px grey;
    box-sizing: border-box;
    background-color: #FFB7C5;
}
.pc-layout .layui-header a,
.pc-layout .layui-header a cite {
    color: rgba(255, 255, 255, 0.7);
}
.pc-layout .layui-header a:hover {
    color: rgba(255, 255, 255, 1.0);
}
.pc-layout .layui-header .layui-nav {
    background: 0 0;
}
.pc-layout .layui-header .layui-nav .layui-nav-more {
    border-top-color: #fbfbfb;
}
.pc-layout .layui-header .layui-nav .layui-nav-mored {
    border-color: transparent;
    border-bottom-color: #fbfbfb;
}
.layui-header .layui-nav .layui-this:after,
.pc-layout .layui-header .layui-nav-bar {
    top: 0 !important;
    bottom: auto;
}
.pc-layout .layui-header .layui-nav .layui-this:after,
.pc-layout .layui-header .layui-nav-bar {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
}
.pc-layout .layui-logo {
    background-color: #E8A0AD;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
}
.pc-layout .layui-logo,
.pc-layout .layui-logo a {
    color: #fff;
    color: rgba(255,255,255,.8);
}
.pc-side-menu {
    box-shadow: 1px 0 2px 0 rgba(0,0,0,.05);
}
.pc-layout .layui-footer {
    box-shadow: 0 -1px 2px 0 rgba(0,0,0,.05);
}

.pc-side-menu,
.layadmin-setTheme-side {
    background-color: #482323;
    color: #fff;
}
.layadmin-setTheme-header {
    background-color: #fff;
}

.pc-layout .layui-footer {
    background-color: #fff;
}
.layui-tab-admin .layui-tab-title {
    background-color: #393D49;
    color: #fff;
}
.pc-layout .pc-link:hover {
    color: #1E9FFF !important;
}
.pc-layout .pc-link:hover:active {
    color: #E5AA0B !important;
}
.pc-layout .layui-table thead tr,
.pc-layout .layui-table-click,
.pc-layout .layui-table-header,
.pc-layout .layui-table-mend,
.pc-layout .layui-table-patch,
.pc-layout .layui-table-tool,
.pc-layout .layui-table-total,
.pc-layout .layui-table-total tr,
.layui-laypage .layui-laypage-curr .layui-laypage-em {
    background-color: #FFB7C5;
}
.pc-layout .layui-table tbody tr:hover,
.pc-layout .layui-table[lay-even] tr:nth-child(even),
.pc-layout .layui-table-hover {
    background-color: rgba(255, 183, 197, 0.2);
}
.layui-btn-normal {
    background-color: #FF1694;
}
.pc-layer-panel input:focus {
    border-color: #FFB7C5;
    box-shadow: 0 0 4px #FFB7C5;
}
/*
    主体部分
*/
.layui-body {
    cursor: default;
}
.layui-body .pc-body-framework {
    font-size: 16px;
    margin-right: 160px;
    padding: 20px 40px;
}
/* 平板模式 */
@media screen and (max-width: 992px) {
    .layui-body .pc-body-framework {
        margin: 0;
    }
}
/* 移动模式 */
@media screen and (max-width: 768px) {
    .layui-body .pc-body-framework {
        margin: 0 !important;
        padding: 4px !important;
    }
}
/*
    按钮
 */
.pc-nav-btn {
    display: inline-block;
    width: 88px;
    height: 36px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0 14px;
    background-color: rgba(255, 183, 197, 0.6);
    color: white;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}
.pc-nav-btn:hover {
    color: white;
    background-color: #FFB7C5;
}
.pc-btn {
    background-color: #FFB7C5;
    border: 1px solid transparent;
    padding: 4px 18px;
    color: white !important;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
}
.pc-btn:hover {
    opacity: 0.8;
}
.pc-btn[disabled] {
    background-color: #BFBFBF;
    cursor: not-allowed;
}
.pc-btn[disabled]:hover {
    opacity: unset;
}
.pc-btn-save {
    float: right;
    border-radius: 14px;
}
.pc-btn-danger {
    background-color: #FF5722;
}
.pc-nav-data-head {
    padding: 10px 2px 10px 35px;
    position: relative;
    background-color: #FFB7C5;
    border-radius: 0 25px 25px 0;
}
.pc-nav-data-head>i {
    position: absolute;
    margin-top: -7px;
    top: 50%;
    left: 5px;
}
.pc-layer-panel {
    padding: 20px;
}
.layui-layer {
    border-top: 5px solid #FFB7C5;
    border-radius: 5px !important;
}
.layui-layer-title,
.layui-layer-setwin a {
    color: #FFB7C5 !important;
}
.pc-db-status-color-doing {
    color: #FFB800 !important;
}
.pc-db-status-color-yes {
     color: #1E9FFF !important;
 }
.pc-db-status-color-ok {
    color: green !important;
}
.pc-db-status-color-no {
    color: red !important;
}
.pc-inline-block {
    display: inline-block;
}
.pc-inline-flex {
    display: inline-flex;
    display: -webkit-inline-flex;
}
.layui-breadcrumb a cite {
    color: #FFB7C5;
    font-style: normal;
}
.layui-breadcrumb a:hover {
    color: #FFB7C5!important;
}

/* 保存信息后 的提示框 */
.layui-layer.layui-layer-dialog.layui-layer-msg>.layui-layer-btn>.layui-layer-btn2 {
    border-color: #FFB7C5;
    background-color: #FFB7C5;
    color: #FFF;
}

/* 移动模式 */
@media screen and (max-width: 768px) {
    .pc-layer-panel {
        padding: 10px 5px;
    }
    .pc-sm-block {
        display: block;
    }
}