html, body, .pc-main {
    background-color: #F2F2F2;
    margin: 0;
    height: 100%;
    min-height: 100%;
}
a {
    text-decoration: none;
    color: #8D8D8D;
}
a:hover {
    color: #1E9FFF;
    text-decoration: underline;
}
.pc-main {
    text-align: center;
    margin-bottom: -80px;
}
.pc-center {
    font-weight: 200;
}
.pc-center>h1 {
    margin: 0;
    padding: 50px 0;
    font-size: 48px;
    font-weight: 200;
}
.pc-center>h2 {
    margin: 0;
    padding-bottom: 20px;
    font-size: 32px;
    font-weight: 400;
}
.pc-foot {
    margin-top: -80px;
    height: 60px;
    text-align: center;
}