<!DOCTYPE html>

<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="content-language" content="zh-cn"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>神经系统 - 基础数据库</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no"/>
    <meta name="keywords" content="围产新生儿科研合作平台,基础数据库,神经系统"/>
    <meta name="description" content="围产新生儿科研合作平台基础数据库神经系统"/>
    <meta name="author" content="Linyer"/>
    <meta name="theme-color" content="#11B2B9"/>

    <link rel="shortcut icon" th:href="@{/favicon.svg}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/utils/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/utils/iconfont/iconfont.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/database.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/basicDatabase.min.css}"/>

    <script type="text/javascript" th:src="@{/js/utils/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/utils/layui/layui.js}"></script>
</head>

<body class="layui-layout-body">
<div id="PC-main">
    <div class="layui-layout pc-layout">
        <!-- 水平菜单 -->
        <div th:replace="include/PPHead::header"></div>

        <!-- 左侧导航栏（可伸缩式） -->
        <div class="layui-side pc-side-menu">
            <div class="layui-side-scroll">

                <!-- 网站logo信息 -->
                <div class="layui-logo">
                    <a href="/">
                        <img src="/favicon.svg" height="30px" alt="logo">
                        <h1>
                            <a href="/">
                                <i class="iconfont icon-home"></i>
                                <cite>首页</cite>
                            </a>
                        </h1>
                    </a>
                </div>

                <ul th:replace="include/nsNav::navigation"></ul>
            </div>
        </div>

        <!-- 内容主体区域 -->
        <div class="layui-body">
            <div class="pc-body-framework pc-db-BDNS layui-form" sec:authorize="hasRole('ROLE_BDNS')">
                <span class="layui-breadcrumb">
                    <a href="/perinatalPlatform/basicDatabase/write/NS/US">超声</a>
                    <a href="/perinatalPlatform/basicDatabase/write/NS/MR">MRI</a>
                    <a href="#"><cite>CT</cite></a>
                    <a href="/perinatalPlatform/basicDatabase/write/NS/EEG">脑电图</a>
                    <a href="/perinatalPlatform/basicDatabase/write/NS/AE">辅助检查</a>
                    <a href="/perinatalPlatform/basicDatabase/write/NS/TD">治疗及诊断</a>
                </span>
                <div class="layui-row pc-db-BDNSCT">
                    <div class="layui-col-lg4">
                        <div class="pc-db-item pc-db-item-unit">
                            <label for="PC-db-CN">CT检查次数</label>
                            <input id="PC-db-CN" type="number" name="ctNumber" th:value="${ctNumber} ? ${ctNumber.checkNumber} : '0'" lay-verify="requiredDB" readonly>
                            <span>次</span>
                        </div>
                    </div>
                    <div class="layui-col-lg8">
                        <div class="pc-db-item pc-db-item-unit">
                            <label for="PC-db-CAN">CT检查异常次数</label>
                            <input id="PC-db-CAN" type="number" name="ctAbnormalNumber" th:value="${ctNumber} ? ${ctNumber.checkAbnormalNumber} : '0'" lay-verify="requiredDB" readonly>
                            <span>次</span>
                        </div>
                    </div>
                    <div th:each="ct, status : ${ctList}" th:object="${ct}" th:id="'PC-db-CT' + (${status.index} + 1)" class="layui-row pc-db-ct">
                        <hr/>
                        <div class="layui-col-lg12">
                            <div class="pc-db-h1-wrap">
                                <h1>左侧</h1>
                            </div>
                        </div>
                        <div class="layui-col-lg4">
                            <div class="pc-db-item pc-db-item-datetime">
                                <label th:for="'PC-db-LIT' + (${status.index} + 1)">检查时间</label>
                                <input th:id="'PC-db-LIT' + (${status.index} + 1)" type="text" th:name="'leftInspectionTime' + (${status.index} + 1)" th:value="*{#calendars.format(leftInspectionTime, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                                <i class="iconfont icon-rili"></i>
                            </div>
                        </div>
                        <div class="layui-col-lg4">
                            <div th:id="'PC-db-LIR' + (${status.index} + 1)" class="pc-db-item">
                                <label>结果</label>
                                <input type="hidden" th:name="'leftInspectionResult' + (${status.index} + 1)" th:value="*{leftInspectionResult}">
                                <ul class="pc-db-radioBtn-group pc-db-enter">
                                    <li th:class="*{leftInspectionResult eq '正常'} ? 'pc-db-active' : _" data-value="正常">
                                        <button>正常</button>
                                    </li>
                                    <li th:class="*{leftInspectionResult eq '异常'} ? 'pc-db-active' : _" data-value="异常">
                                        <button>异常</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="layui-col-lg4">
                            <div class="pc-db-item">
                                <button th:id="'PC-db-ctDelete' + (${status.index} + 1)" class="pc-btn pc-btn-danger" type="button"><i class="iconfont icon-delete"></i> 删除此条超声检查</button>
                            </div>
                        </div>
                        <div class="layui-col-lg4">
                            <div class="pc-db-item">
                                <label>生发层出血</label>
                                <input type="hidden" th:name="'leftGerminalHemorrhage' + (${status.index} + 1)" th:value="*{leftGerminalHemorrhage}">
                                <ul class="pc-db-radioBtn-group pc-db-enter">
                                    <li th:class="*{leftGerminalHemorrhage eq '确诊'} ? 'pc-db-active' : _" data-value="确诊">
                                        <button>确诊</button>
                                    </li>
                                    <li th:class="*{leftGerminalHemorrhage eq '疑似'} ? 'pc-db-active' : _" data-value="疑似">
                                        <button>疑似</button>
                                    </li>
                                    <li th:class="*{leftGerminalHemorrhage eq '无'} ? 'pc-db-active' : _" data-value="无">
                                        <button>无</button>
                                    </li>
                                    <li th:class="*{leftGerminalHemorrhage eq '不详'} ? 'pc-db-active' : _" data-value="不详">
                                        <button>不详</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="layui-col-lg4">
                            <div class="pc-db-item">
                                <label>脑室内出血</label>
                                <input type="hidden" th:name="'leftIntraventricularHemorrhage' + (${status.index} + 1)" th:value="*{leftIntraventricularHemorrhage}">
                                <ul class="pc-db-radioBtn-group pc-db-enter">
                                    <li th:class="*{leftIntraventricularHemorrhage eq '确诊'} ? 'pc-db-active' : _" data-value="确诊">
                                        <button>确诊</button>
                                    </li>
                                    <li th:class="*{leftIntraventricularHemorrhage eq '疑似'} ? 'pc-db-active' : _" data-value="疑似">
                                        <button>疑似</button>
                                    </li>
                                    <li th:class="*{leftIntraventricularHemorrhage eq '无'} ? 'pc-db-active' : _" data-value="无">
                                        <button>无</button>
                                    </li>
                                    <li th:class="*{leftIntraventricularHemorrhage eq '不详'} ? 'pc-db-active' : _" data-value="不详">
                                        <button>不详</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="layui-col-lg4">
                            <div class="pc-db-item">
                                <label>脑实质病变</label>
                                <input type="hidden" th:name="'leftParenchymalBrainDisease' + (${status.index} + 1)" th:value="*{leftParenchymalBrainDisease}">
                                <ul class="pc-db-radioBtn-group pc-db-enter">
                                    <li th:class="*{leftParenchymalBrainDisease eq '确诊'} ? 'pc-db-active' : _" data-value="确诊">
                                        <button>确诊</button>
                                    </li>
                                    <li th:class="*{leftParenchymalBrainDisease eq '疑似'} ? 'pc-db-active' : _" data-value="疑似">
                                        <button>疑似</button>
                                    </li>
                                    <li th:class="*{leftParenchymalBrainDisease eq '无'} ? 'pc-db-active' : _" data-value="无">
                                        <button>无</button>
                                    </li>
                                    <li th:class="*{leftParenchymalBrainDisease eq '不详'} ? 'pc-db-active' : _" data-value="不详">
                                        <button>不详</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="layui-col-lg4">
                            <div class="pc-db-item">
                                <label>脑室旁白质软化</label>
                                <input type="hidden" th:name="'leftPeriventricularWhiteMatterSoftening' + (${status.index} + 1)" th:value="*{leftPeriventricularWhiteMatterSoftening}">
                                <ul class="pc-db-radioBtn-group pc-db-enter">
                                    <li th:class="*{leftPeriventricularWhiteMatterSoftening eq '确诊'} ? 'pc-db-active' : _" data-value="确诊">
                                        <button>确诊</button>
                                    </li>
                                    <li th:class="*{leftPeriventricularWhiteMatterSoftening eq '疑似'} ? 'pc-db-active' : _" data-value="疑似">
                                        <button>疑似</button>
                                    </li>
                                    <li th:class="*{leftPeriventricularWhiteMatterSoftening eq '无'} ? 'pc-db-active' : _" data-value="无">
                                        <button>无</button>
                                    </li>
                                    <li th:class="*{leftPeriventricularWhiteMatterSoftening eq '不详'} ? 'pc-db-active' : _" data-value="不详">
                                        <button>不详</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="layui-col-lg4">
                            <div class="pc-db-item">
                                <label class="pc-switch-label">脑室扩增</label>
                                <input type="checkbox" th:name="'leftVentricularExpansion' + (${status.index} + 1)" lay-filter="LVE" lay-skin="switch" lay-text="有|无" value="1" th:checked="*{leftVentricularExpansion eq 1} ? true : _">
                            </div>
                        </div>
                        <div class="layui-col-lg4">
                            <div class="pc-db-item pc-db-item-unit-lg">
                                <label th:for="'PC-db-LVES' + (${status.index} + 1)">脑室扩增大小</label>
                                <input th:id="'PC-db-LVES' + (${status.index} + 1)" type="number" th:data-name="'leftVentricularExpansionSize' + (${status.index} + 1)" th:name="*{leftVentricularExpansion eq 1} ? 'leftVentricularExpansionSize' + (${status.index} + 1) : _" th:value="*{leftVentricularExpansion eq 1} ? *{leftVentricularExpansionSize} : _" th:disabled="*{leftVentricularExpansion eq 1} ? _ : true">
                                <span>mm</span>
                            </div>
                        </div>
                        <div class="layui-col-lg4">
                            <div class="pc-db-item">
                                <label class="pc-switch-label">脑梗塞</label>
                                <input type="checkbox" th:name="'leftCerebralInfarction' + (${status.index} + 1)" lay-skin="switch" lay-text="有|无" value="1" th:checked="*{leftCerebralInfarction eq 1} ? true : _">
                            </div>
                        </div>
                        <div class="layui-col-lg4">
                            <div class="pc-db-item">
                                <label class="pc-switch-label">脑积水</label>
                                <input type="checkbox" th:name="'leftHydrocephalus' + (${status.index} + 1)" lay-skin="switch" lay-text="有|无" value="1" th:checked="*{leftHydrocephalus eq 1} ? true : _">
                            </div>
                        </div>
                        <div class="layui-col-lg4">
                            <div class="pc-db-item lg">
                                <label class="pc-switch-label">新生儿缺氧缺血性脑病</label>
                                <input type="checkbox" th:name="'leftNeonatalHypoxicIschemicEncephalopathy' + (${status.index} + 1)" lay-skin="switch" lay-text="有|无" value="1" th:checked="*{leftNeonatalHypoxicIschemicEncephalopathy eq 1} ? true : _">
                            </div>
                        </div>
                        <div class="layui-col-lg12">
                            <div th:id="'PC-db-LOCD' + (${status.index} + 1)" class="pc-db-item">
                                <label>其他中枢病变</label>
                                <div class="pc-db-item-checkbox">
                                    <input type="checkbox" th:name="'leftOtherCentralDiseaseSubarachnoidHemorrhage' + (${status.index} + 1)" value="1" title="蛛网膜下腔出血" th:checked="*{leftOtherCentralDiseaseSubarachnoidHemorrhage eq 1} ? true : _">
                                    <input type="checkbox" th:name="'leftOtherCentralDiseaseSubduralHemorrhage' + (${status.index} + 1)" value="1" title="硬膜下出血" th:checked="*{leftOtherCentralDiseaseSubduralHemorrhage eq 1} ? true : _">
                                    <input type="checkbox" th:name="'leftOtherCentralDiseaseTentoriumHemorrhage' + (${status.index} + 1)" value="1" title="小脑幕出血" th:checked="*{leftOtherCentralDiseaseTentoriumHemorrhage eq 1} ? true : _">
                                    <input type="checkbox" th:name="'leftOtherCentralDiseaseHydrocephalus' + (${status.index} + 1)" value="1" title="脑积水" th:checked="*{leftOtherCentralDiseaseHydrocephalus eq 1} ? true : _">
                                    <input type="checkbox" th:name="'leftOtherCentralDiseaseArachnoidCyst' + (${status.index} + 1)" value="1" title="蛛网膜囊肿" th:checked="*{leftOtherCentralDiseaseArachnoidCyst eq 1} ? true : _">
                                    <input type="checkbox" th:name="'leftOtherCentralDiseaseCaudateSulcusCyst' + (${status.index} + 1)" value="1" title="尾状沟囊肿" th:checked="*{leftOtherCentralDiseaseCaudateSulcusCyst eq 1} ? true : _">
                                    <input type="checkbox" th:name="'leftOtherCentralDiseaseChoroidPlexusCyst' + (${status.index} + 1)" value="1" title="脉络丛囊肿" th:checked="*{leftOtherCentralDiseaseChoroidPlexusCyst eq 1} ? true : _">
                                    <input type="checkbox" th:name="'leftOtherCentralDiseaseSubependymalCyst' + (${status.index} + 1)" value="1" title="室管膜下囊肿" th:checked="*{leftOtherCentralDiseaseSubependymalCyst eq 1} ? true : _">
                                    <input type="checkbox" th:name="'leftOtherCentralDiseaseOtherBrainParenchymalCysts' + (${status.index} + 1)" value="1" title="其它脑实质囊肿" th:checked="*{leftOtherCentralDiseaseOtherBrainParenchymalCysts eq 1} ? true : _">
                                    <input type="checkbox" th:lay-filter="'LOCDO' + (${status.index} + 1)" title="其它" th:checked="*{leftOtherCentralDiseaseOther ne null and leftOtherCentralDiseaseOther ne ''} ? true : _">
                                    <input th:id="'PC-db-LOCDO' + (${status.index} + 1)" type="text" th:data-name="'leftOtherCentralDiseaseOther' + (${status.index} + 1)" th:name="*{leftOtherCentralDiseaseOther ne null and leftOtherCentralDiseaseOther ne ''} ? ('leftOtherCentralDiseaseOther' + (${status.index} + 1)) : _" th:value="*{leftOtherCentralDiseaseOther ne null and leftOtherCentralDiseaseOther ne ''} ? *{leftOtherCentralDiseaseOther} : _" th:disabled="*{leftOtherCentralDiseaseOther ne null and leftOtherCentralDiseaseOther ne ''} ? _ : true">
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-lg12">
                            <div class="pc-db-h1-wrap">
                                <h1>右侧</h1>
                            </div>
                        </div>
                        <div class="layui-col-lg4">
                            <div class="pc-db-item pc-db-item-datetime">
                                <label th:for="'PC-db-RIT' + (${status.index} + 1)">检查时间</label>
                                <input th:id="'PC-db-RIT' + (${status.index} + 1)" type="text" th:name="'rightInspectionTime' + (${status.index} + 1)" th:value="*{#calendars.format(rightInspectionTime, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                                <i class="iconfont icon-rili"></i>
                            </div>
                        </div>
                        <div class="layui-col-lg8">
                            <div th:id="'PC-db-RIR' + (${status.index} + 1)" class="pc-db-item">
                                <label>结果</label>
                                <input type="hidden" th:name="'rightInspectionResult' + (${status.index} + 1)" th:value="*{rightInspectionResult}">
                                <ul class="pc-db-radioBtn-group pc-db-enter">
                                    <li th:class="*{rightInspectionResult eq '正常'} ? 'pc-db-active' : _" data-value="正常">
                                        <button>正常</button>
                                    </li>
                                    <li th:class="*{rightInspectionResult eq '异常'} ? 'pc-db-active' : _" data-value="异常">
                                        <button>异常</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="layui-col-lg4">
                            <div class="pc-db-item">
                                <label>生发层出血</label>
                                <input type="hidden" th:name="'rightGerminalHemorrhage' + (${status.index} + 1)" th:value="*{rightGerminalHemorrhage}">
                                <ul class="pc-db-radioBtn-group pc-db-enter">
                                    <li th:class="*{rightGerminalHemorrhage eq '确诊'} ? 'pc-db-active' : _" data-value="确诊">
                                        <button>确诊</button>
                                    </li>
                                    <li th:class="*{rightGerminalHemorrhage eq '疑似'} ? 'pc-db-active' : _" data-value="疑似">
                                        <button>疑似</button>
                                    </li>
                                    <li th:class="*{rightGerminalHemorrhage eq '无'} ? 'pc-db-active' : _" data-value="无">
                                        <button>无</button>
                                    </li>
                                    <li th:class="*{rightGerminalHemorrhage eq '不详'} ? 'pc-db-active' : _" data-value="不详">
                                        <button>不详</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="layui-col-lg4">
                            <div class="pc-db-item">
                                <label>脑室内出血</label>
                                <input type="hidden" th:name="'rightIntraventricularHemorrhage' + (${status.index} + 1)" th:value="*{rightIntraventricularHemorrhage}">
                                <ul class="pc-db-radioBtn-group pc-db-enter">
                                    <li th:class="*{rightIntraventricularHemorrhage eq '确诊'} ? 'pc-db-active' : _" data-value="确诊">
                                        <button>确诊</button>
                                    </li>
                                    <li th:class="*{rightIntraventricularHemorrhage eq '疑似'} ? 'pc-db-active' : _"  data-value="疑似">
                                        <button>疑似</button>
                                    </li>
                                    <li th:class="*{rightIntraventricularHemorrhage eq '无'} ? 'pc-db-active' : _" data-value="无">
                                        <button>无</button>
                                    </li>
                                    <li th:class="*{rightIntraventricularHemorrhage eq '不详'} ? 'pc-db-active' : _" data-value="不详">
                                        <button>不详</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="layui-col-lg4">
                            <div class="pc-db-item">
                                <label>脑实质病变</label>
                                <input type="hidden" th:name="'rightParenchymalBrainDisease' + (${status.index} + 1)" th:value="*{rightParenchymalBrainDisease}">
                                <ul class="pc-db-radioBtn-group pc-db-enter">
                                    <li th:class="*{rightParenchymalBrainDisease eq '确诊'} ? 'pc-db-active' : _" data-value="确诊">
                                        <button>确诊</button>
                                    </li>
                                    <li th:class="*{rightParenchymalBrainDisease eq '疑似'} ? 'pc-db-active' : _" data-value="疑似">
                                        <button>疑似</button>
                                    </li>
                                    <li th:class="*{rightParenchymalBrainDisease eq '无'} ? 'pc-db-active' : _" data-value="无">
                                        <button>无</button>
                                    </li>
                                    <li th:class="*{rightParenchymalBrainDisease eq '不详'} ? 'pc-db-active' : _" data-value="不详">
                                        <button>不详</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="layui-col-lg4">
                            <div class="pc-db-item">
                                <label>脑室旁白质软化</label>
                                <input type="hidden" th:name="'rightPeriventricularWhiteMatterSoftening' + (${status.index} + 1)" th:value="*{rightPeriventricularWhiteMatterSoftening}">
                                <ul class="pc-db-radioBtn-group pc-db-enter">
                                    <li th:class="*{rightPeriventricularWhiteMatterSoftening eq '确诊'} ? 'pc-db-active' : _" data-value="确诊">
                                        <button>确诊</button>
                                    </li>
                                    <li th:class="*{rightPeriventricularWhiteMatterSoftening eq '疑似'} ? 'pc-db-active' : _" data-value="疑似">
                                        <button>疑似</button>
                                    </li>
                                    <li th:class="*{rightPeriventricularWhiteMatterSoftening eq '无'} ? 'pc-db-active' : _" data-value="无">
                                        <button>无</button>
                                    </li>
                                    <li th:class="*{rightPeriventricularWhiteMatterSoftening eq '不详'} ? 'pc-db-active' : _" data-value="不详">
                                        <button>不详</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="layui-col-lg4">
                            <div class="pc-db-item">
                                <label class="pc-switch-label">脑室扩增</label>
                                <input type="checkbox" th:name="'rightVentricularExpansion' + (${status.index} + 1)" lay-filter="RVE" lay-skin="switch" lay-text="有|无" value="1" th:checked="*{rightVentricularExpansion eq 1} ? true : _">
                            </div>
                        </div>
                        <div class="layui-col-lg4">
                            <div class="pc-db-item pc-db-item-unit-lg">
                                <label th:for="'PC-db-RVES' + (${status.index} + 1)">脑室扩增大小</label>
                                <input th:id="'PC-db-RVES' + (${status.index} + 1)" type="number" th:data-name="'rightVentricularExpansionSize' + (${status.index} + 1)" th:name="*{rightVentricularExpansion eq 1} ? 'rightVentricularExpansionSize' + (${status.index} + 1) : _" th:value="*{rightVentricularExpansion eq 1} ? *{rightVentricularExpansionSize} : _" th:disabled="*{rightVentricularExpansion eq 1} ? _ : true">
                                <span>mm</span>
                            </div>
                        </div>
                        <div class="layui-col-lg4">
                            <div class="pc-db-item">
                                <label class="pc-switch-label">脑梗塞</label>
                                <input type="checkbox" th:name="'rightCerebralInfarction' + (${status.index} + 1)" lay-skin="switch" lay-text="有|无" value="1" th:checked="*{rightCerebralInfarction eq 1} ? true : _">
                            </div>
                        </div>
                        <div class="layui-col-lg4">
                            <div class="pc-db-item">
                                <label class="pc-switch-label">脑积水</label>
                                <input type="checkbox" th:name="'rightHydrocephalus' + (${status.index} + 1)" lay-skin="switch" lay-text="有|无" value="1" th:checked="*{rightHydrocephalus eq 1} ? true : _">
                            </div>
                        </div>
                        <div class="layui-col-lg4">
                            <div class="pc-db-item lg">
                                <label class="pc-switch-label">新生儿缺氧缺血性脑病</label>
                                <input type="checkbox" th:name="'rightNeonatalHypoxicIschemicEncephalopathy' + (${status.index} + 1)" lay-skin="switch" lay-text="有|无" value="1" th:checked="*{rightNeonatalHypoxicIschemicEncephalopathy eq 1} ? true : _">
                            </div>
                        </div>
                        <div class="layui-col-lg12">
                            <div th:id="'PC-db-ROCD' + (${status.index} + 1)" class="pc-db-item">
                                <label>其他中枢病变</label>
                                <div class="pc-db-item-checkbox">
                                    <input type="checkbox" th:name="'rightOtherCentralDiseaseSubarachnoidHemorrhage' + (${status.index} + 1)" value="1" title="蛛网膜下腔出血" th:checked="*{rightOtherCentralDiseaseSubarachnoidHemorrhage eq 1} ? true : _">
                                    <input type="checkbox" th:name="'rightOtherCentralDiseaseSubduralHemorrhage' + (${status.index} + 1)" value="1" title="硬膜下出血" th:checked="*{rightOtherCentralDiseaseSubduralHemorrhage eq 1} ? true : _">
                                    <input type="checkbox" th:name="'rightOtherCentralDiseaseTentoriumHemorrhage' + (${status.index} + 1)" value="1" title="小脑幕出血" th:checked="*{rightOtherCentralDiseaseTentoriumHemorrhage eq 1} ? true : _">
                                    <input type="checkbox" th:name="'rightOtherCentralDiseaseHydrocephalus' + (${status.index} + 1)" value="1" title="脑积水" th:checked="*{rightOtherCentralDiseaseHydrocephalus eq 1} ? true : _">
                                    <input type="checkbox" th:name="'rightOtherCentralDiseaseArachnoidCyst' + (${status.index} + 1)" value="1" title="蛛网膜囊肿" th:checked="*{rightOtherCentralDiseaseArachnoidCyst eq 1} ? true : _">
                                    <input type="checkbox" th:name="'rightOtherCentralDiseaseCaudateSulcusCyst' + (${status.index} + 1)" value="1" title="尾状沟囊肿" th:checked="*{rightOtherCentralDiseaseCaudateSulcusCyst eq 1} ? true : _">
                                    <input type="checkbox" th:name="'rightOtherCentralDiseaseChoroidPlexusCyst' + (${status.index} + 1)" value="1" title="脉络丛囊肿" th:checked="*{rightOtherCentralDiseaseChoroidPlexusCyst eq 1} ? true : _">
                                    <input type="checkbox" th:name="'rightOtherCentralDiseaseSubependymalCyst' + (${status.index} + 1)" value="1" title="室管膜下囊肿" th:checked="*{rightOtherCentralDiseaseSubependymalCyst eq 1} ? true : _">
                                    <input type="checkbox" th:name="'rightOtherCentralDiseaseOtherBrainParenchymalCysts' + (${status.index} + 1)" value="1" title="其它脑实质囊肿" th:checked="*{rightOtherCentralDiseaseOtherBrainParenchymalCysts eq 1} ? true : _">
                                    <input type="checkbox" th:lay-filter="'ROCDO' + (${status.index} + 1)" title="其它" th:checked="*{rightOtherCentralDiseaseOther ne null and rightOtherCentralDiseaseOther ne ''} ? true : _">
                                    <input th:id="'PC-db-ROCDO' + (${status.index} + 1)" type="text" th:data-name="'rightOtherCentralDiseaseOther' + (${status.index} + 1)" th:name="*{rightOtherCentralDiseaseOther ne null and leftOtherCentralDiseaseOther ne ''} ? ('rightOtherCentralDiseaseOther' + (${status.index} + 1)) : _" th:value="*{rightOtherCentralDiseaseOther ne null and rightOtherCentralDiseaseOther ne ''} ? *{rightOtherCentralDiseaseOther} : _" th:disabled="*{rightOtherCentralDiseaseOther ne null and rightOtherCentralDiseaseOther ne ''} ? _ : true">
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-lg12">
                            <div class="pc-db-h1-wrap">
                                <h1>CT2个层面图像</h1>
                            </div>
                        </div>
                        <div class="layui-col-lg12">
                            <div>
                                <div th:id="'PC-db-section1' + (${status.index} + 1)" class="pc-db-images">
                                    <div>层面1</div>
                                    <div>
                                        <button class="pc-btn" type="button">点击上传图片</button>
                                    </div>
                                    <img th:src="*{section1Url}"/>
                                    <input th:id="'PC-db-section1-URL' + (${status.index} + 1)" type="hidden" th:name="'section1Url' + (${status.index} + 1)" th:value="*{section1Url}">
                                </div>
                                <div th:id="'PC-db-section2' + (${status.index} + 1)" class="pc-db-images">
                                    <div>层面2</div>
                                    <div>
                                        <button class="pc-btn" type="button">点击上传图片</button>
                                    </div>
                                    <img th:src="*{section2Url}"/>
                                    <input th:id="'PC-db-section2-URL' + (${status.index} + 1)" type="hidden" th:name="'section2Url' + (${status.index} + 1)" th:value="*{section2Url}">
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-lg12">
                            <div class="pc-db-h1-wrap">
                                <h1>说明</h1>
                            </div>
                        </div>
                        <div class="layui-col-lg12">
                            <div class="pc-db-item">
                                <textarea rows="6" cols="40" th:name="'ctExplanation' + (${status.index} + 1)" th:text="*{ctExplanation}"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="layui-col-lg12">
                        <button id="PC-db-addCT" class="pc-btn"><i class="iconfont icon-zengjia"></i> 新增CT检查</button>
                    </div>
                </div>

                <div class="pc-db-save">
                    <button class="pc-btn pc-btn-save" lay-filter="NSCT" lay-submit>保存信息</button>
                </div>
            </div>
        </div>

        <!-- 用于移动设备遮罩 -->
        <div id="PC-shade"></div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/js/utils/myTools.min.js}"></script>
<script type="text/javascript" th:src="@{/js/common.min.js}"></script>
<script type="text/javascript" th:src="@{/js/BDNSWrite.min.js}"></script>
</html>