<!DOCTYPE html>

<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="content-language" content="zh-cn"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>产前心理 - 父母心理库</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no"/>
    <meta name="keywords" content="围产新生儿科研合作平台,父母心理库,产前心理"/>
    <meta name="description" content="围产新生儿科研合作平台父母心理库产前心理"/>
    <meta name="author" content="Linyer"/>
    <meta name="theme-color" content="#11B2B9"/>

    <link rel="shortcut icon" th:href="@{/favicon.svg}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/utils/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/utils/iconfont/iconfont.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/database.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/parentalPsychology.min.css}"/>

    <script type="text/javascript" th:src="@{/js/utils/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/utils/layui/layui.js}"></script>
</head>

<body class="layui-layout-body">
<div id="PC-main">
    <div class="layui-layout pc-layout">
        <!-- 水平菜单 -->
        <div th:replace="include/PPHead::header"></div>

        <!-- 左侧导航栏（可伸缩式） -->
        <div class="layui-side pc-side-menu">
            <div class="layui-side-scroll">

                <!-- 网站logo信息 -->
                <div class="layui-logo">
                    <a href="/">
                        <img src="/favicon.svg" height="30px" alt="logo">
                        <h1>
                            <a href="/">
                                <i class="iconfont icon-home"></i>
                                <cite>首页</cite>
                            </a>
                        </h1>
                    </a>
                </div>

                <ul class="layui-nav layui-nav-tree" lay-shrink="all">
                    <!-- 基础数据库 导航 -->
                    <li th:replace="include/navMenu::basicDatabase"></li>

                    <!-- 医患交流库 导航 -->
                    <li th:replace="include/navMenu::doctorPatientCommunication"></li>

                    <!-- 母婴同室库 导航 -->
                    <li th:replace="include/navMenu::motherBabySameRoom"></li>

                    <!-- 父母心理库 导航 -->
                    <li class="layui-nav-item layui-nav-itemed" sec:authorize="hasRole('ROLE_PP')">
                        <a class="pc-item" href="javascript:void(0);">
                            <i class="pc-icon iconfont icon-fuMuXingLi"></i>
                            <cite>父母心理库</cite>
                        </a>

                        <dl class="layui-nav-child">
                            <dd class="layui-this" sec:authorize="hasRole('ROLE_PPPR')">
                                <a href="#">
                                    <i class="pc-icon iconfont icon-xinlipucha"></i>
                                    <cite>产前心理</cite>
                                </a>
                            </dd>
                            <dd sec:authorize="hasRole('ROLE_PPPO')">
                                <a href="/perinatalPlatform/parentalPsychology/write/PO/EPDS">
                                    <i class="pc-icon iconfont icon-xinlipucha"></i>
                                    <cite>产后心理</cite>
                                </a>
                            </dd>
                            <dd sec:authorize="hasRole('ROLE_PP')">
                                <a href="/perinatalPlatform/parentalPsychology/review">
                                    <i class="pc-icon iconfont icon-shenhe"></i>
                                    <cite>病例审核</cite>
                                </a>
                            </dd>
                        </dl>
                    </li>

                    <!-- 研究数据库 导航 -->
                    <li th:replace="include/navMenu::researchDatabase"></li>

                    <!-- 超声影像库 导航 -->
                    <li th:replace="include/navMenu::ultrasoundImage"></li>

                    <!-- 随访数据库 导航 -->
                    <li th:replace="include/navMenu::followDatabase"></li>
                </ul>
            </div>
        </div>

        <!-- 内容主体区域 -->
        <div class="layui-body">
            <div class="pc-body-framework pc-db-PP layui-form" sec:authorize="hasRole('ROLE_PPPR')">
                <span class="layui-breadcrumb">
                    <a href="/perinatalPlatform/parentalPsychology/write/PR/EPDS">EPDS</a>
                    <a href="#"><cite>SAS</cite></a>
                    <a href="/perinatalPlatform/parentalPsychology/write/PR/SDS">SDS</a>
                </span>
                <div class="layui-row pc-db-PPPR">
                    <div class="layui-col-lg2 layui-col-sm3">
                        <div class="pc-db-item pc-db-item-date">
                            <label for="PC-db-EDD">预产期</label>
                            <input id="PC-db-EDD" type="text" name="expectedDeliveryDate" th:value="${expectedDeliveryDate} ? ${#calendars.format(expectedDeliveryDate, 'yyyy-MM-dd')} : _" readonly>
                            <i class="iconfont icon-rili"></i>
                        </div>
                    </div>
                    <div class="layui-col-lg10 layui-col-sm9 pc-db-saveEDD">
                        <span>预产期保存成功！</span>
                    </div>
                    <div class="layui-col-sm12">
                        <div class="pc-db-item pc-db-item-unit sasOrSds">
                            <label for="PC-db-SASEN">焦虑自评量表（SAS）评估次数</label>
                            <input id="PC-db-SASEN" type="number" th:value="${evaluationsNumber}" readonly>
                            <span>次</span>
                        </div>
                    </div>
                    <div class="layui-col-sm10">
                        <table class="pc-db-table">
                            <thead>
                            <tr>
                                <th>评估日期</th>
                                <th>胎龄</th>
                                <th>SAS评估方式</th>
                                <th>SAS总粗分</th>
                                <th>SAS标准分</th>
                                <th>编辑</th>
                                <th>删除</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="prSas : ${prSasList}">
                                <td th:text="${#calendars.format(prSas.evaluationDate, 'yyyy-MM-dd')}"></td>
                                <td th:text="${prSas.gestationalAge}"></td>
                                <td th:text="${prSas.evaluationMethod}"></td>
                                <td th:text="${prSas.totalRoughScore}"></td>
                                <td th:text="${prSas.standardScore}"></td>
                                <td class="pc-db-table-edit">
                                    <button th:data-id="${prSas.id}" th:data-evaluationDate="${#calendars.format(prSas.evaluationDate, 'yyyy-MM-dd')}" th:data-gestationalAgeWeek="${prSas.gestationalAgeWeek}" th:data-gestationalAgeDay="${prSas.gestationalAgeDay}" th:data-evaluationMethod="${prSas.evaluationMethod}" th:data-totalRoughScore="${prSas.totalRoughScore}" th:data-standardScore="${prSas.standardScore}" onclick="editPrSas(this);"><i class="iconfont icon-bianji"></i></button>
                                </td>
                                <td class="pc-db-table-delete">
                                    <button th:onclick="'deletePrSas(' + ${prSas.id} + ');'"><i class="iconfont icon-delete"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td class="pc-db-add">
                                    <button onclick="addPrSas();" class="pc-btn"><i class="iconfont icon-zengjia"></i> 新增</button>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- 用于移动设备遮罩 -->
        <div id="PC-shade"></div>
    </div>
</div>

<!-- 增加 SAS -->
<div id="PC-db-addPrSas" class="pc-layer-panel">
    <form class="layui-form" action="javascript:void(0);">
        <input id="PC-db-sasId" type="hidden">
        <div class="pc-db-item pc-db-item-date">
            <label for="PC-db-prED">评估日期</label>
            <input id="PC-db-prED" name="evaluationDate" type="text" lay-verify="requiredDB" readonly>
            <i class="iconfont icon-rili"></i>
        </div>
        <div class="pc-db-item">
            <label for="PC-db-GAW">胎龄</label>
            <div class="pc-db-spanItem">
                <input id="PC-db-GAW" name="gestationalAgeWeek" type="number" lay-verify="requiredDB">
                <span>周</span>
                <input id="PC-db-GAD" name="gestationalAgeDay" type="number" lay-verify="requiredDB">
                <span>天</span>
            </div>
        </div>
        <div id="PC-db-evaluationMethod" class="pc-db-item">
            <label>评估方式</label>
            <input name="evaluationMethod" type="hidden" lay-verify="requiredRadioGroup">
            <ul class="pc-db-radioBtn-group pc-db-enter">
                <li data-value="已评估">
                    <button>已评估</button>
                </li>
                <li data-value="在线评估">
                    <button>在线评估</button>
                </li>
            </ul>
        </div>
        <div class="pc-db-item">
            <label for="PC-db-sasTRS">SAS总粗分</label>
            <input id="PC-db-sasTRS" name="totalRoughScore" type="number" lay-verify="requiredDB">
        </div>
        <div class="pc-db-item">
            <label for="PC-db-sasSS">SAS标准分</label>
            <input id="PC-db-sasSS" name="standardScore" type="number" lay-verify="requiredDB" readonly>
        </div>

        <div class="layui-form-item">
            <button class="pc-btn pc-btn-save" lay-filter="savePrSas" lay-submit>保存</button>
        </div>
    </form>
</div>
</body>
<script type="text/javascript" th:src="@{/js/utils/myTools.min.js}"></script>
<script type="text/javascript" th:src="@{/js/common.min.js}"></script>
<script type="text/javascript" th:src="@{/js/PPWrite.min.js}"></script>
</html>