<!DOCTYPE html>

<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="content-language" content="zh-cn"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>生长曲线 - 随访数据库</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no"/>
    <meta name="keywords" content="围产新生儿科研合作平台,随访数据库,生长曲线"/>
    <meta name="description" content="围产新生儿科研合作平台随访数据库生长曲线"/>
    <meta name="author" content="Linyer"/>
    <meta name="theme-color" content="#11B2B9"/>

    <link rel="shortcut icon" th:href="@{/favicon.svg}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/utils/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/utils/iconfont/iconfont.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/database.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/followDatabase.min.css}"/>

    <script type="text/javascript" th:src="@{/js/utils/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/utils/layui/layui.js}"></script>
</head>

<body class="layui-layout-body">
<div id="PC-main">
    <div class="layui-layout pc-layout">
        <!-- 水平菜单 -->
        <div th:replace="include/PPHead::header"></div>

        <!-- 左侧导航栏（可伸缩式） -->
        <div class="layui-side pc-side-menu">
            <div class="layui-side-scroll">

                <!-- 网站logo信息 -->
                <div class="layui-logo">
                    <a href="/">
                        <img src="/favicon.svg" height="30px" alt="logo">
                        <h1>
                            <a href="/">
                                <i class="iconfont icon-home"></i>
                                <cite>首页</cite>
                            </a>
                        </h1>
                    </a>
                </div>

                <ul th:replace="include/gcNav::navigation"></ul>
            </div>
        </div>

        <!-- 内容主体区域 -->
        <div class="layui-body">
            <div class="pc-body-framework pc-db-FDGC layui-form" sec:authorize="hasRole('ROLE_FDGC')">
                <span class="layui-breadcrumb">
                    <a href="/perinatalPlatform/followDatabase/write/GC/BW">体重</a>
                    <a href="/perinatalPlatform/followDatabase/write/GC/BL">身长</a>
                    <a href="/perinatalPlatform/followDatabase/write/GC/HC">头围</a>
                    <a href="/perinatalPlatform/followDatabase/write/GC/FD">喂养</a>
                    <a href="/perinatalPlatform/followDatabase/write/GC/GA/0mTo12m">生长评估</a>
                    <a href="#"><cite>营养</cite></a>
                </span>
                <div class="layui-row pc-db-FDGCNT" th:data-birthday="${#calendars.format(birthMsg.birthday, 'yyyy-MM-dd')}" th:data-gaw="${birthMsg.gestationalAgeWeek}" th:data-gad="${birthMsg.gestationalAgeDay}">
                    <div class="layui-col-lg12">
                        <div class="pc-db-item pc-db-item-unit">
                            <label for="PC-db-NRN">营养记录</label>
                            <input id="PC-db-NRN" type="number" name="nutritionRecordNumber" th:value="${nutritionRecordNumber} ? ${nutritionRecordNumber} : '0'" lay-verify="requiredDB" readonly>
                            <span>次</span>
                        </div>
                    </div>
                    <div class="layui-col-lg12">
                        <div class="pc-db-item-table addList">
                            <table class="pc-db-table">
                                <thead>
                                <tr>
                                    <th>日期</th>
                                    <th>矫正年龄</th>
                                    <th>Hgb（g/L）</th>
                                    <th>铁剂治疗（mg/kg/d）</th>
                                    <th>25（OH）D3（nmol/L）</th>
                                    <th>维生素AD（U/d）</th>
                                    <th>维生素D3（U/d）</th>
                                    <th>腹泻</th>
                                    <th>皮疹</th>
                                    <th>血便</th>
                                    <th>喘息</th>
                                    <th>医生建议</th>
                                    <th>删除</th>
                                </tr>
                                </thead>
                                <tbody th:data-num="${nrList} ? ${nrList.size()} : _">
                                <tr th:each="nr, status : ${nrList}" th:object="${nr}">
                                    <td>
                                        <input th:id="'PC-db-NRD' + (${status.index} + 1)" type="text" th:name="'nutritionRecordDate' + (${status.index} + 1)" th:value="*{#calendars.format(nutritionRecordDate, 'yyyy-MM-dd')}" lay-verify="required" placeholder="请选择记录日期" lay-reqText="请选择记录日期！" readonly>
                                    </td>
                                    <td>
                                        <input th:id="'PC-db-CA' + (${status.index} + 1)" type="text" readonly>
                                        <input th:id="'PC-db-CGAW' + (${status.index} + 1)" type="hidden" th:name="'cgaWeek' + (${status.index} + 1)" th:value="*{cgaWeek}">
                                        <input th:id="'PC-db-CGAD' + (${status.index} + 1)" type="hidden" th:name="'cgaDay' + (${status.index} + 1)" th:value="*{cgaDay}">
                                        <input th:id="'PC-db-CAM' + (${status.index} + 1)" type="hidden" th:name="'correctedAgeMonth' + (${status.index} + 1)" th:value="*{correctedAgeMonth}">
                                        <input th:id="'PC-db-CAD' + (${status.index} + 1)" type="hidden" th:name="'correctedAgeDay' + (${status.index} + 1)" th:value="*{correctedAgeDay}">
                                    </td>
                                    <td>
                                        <input type="number" th:name="'hgb' + (${status.index} + 1)" th:value="*{hgb}" placeholder="请填写Hgb">
                                    </td>
                                    <td>
                                        <input type="number" th:name="'ironTherapy' + (${status.index} + 1)" th:value="*{ironTherapy}" placeholder="请填写铁剂治疗">
                                    </td>
                                    <td>
                                        <input type="number" th:name="'oh25D3' + (${status.index} + 1)" th:value="*{oh25D3}" placeholder="请填写25（OH）D3">
                                    </td>
                                    <td>
                                        <input type="number" th:name="'vitaminAd' + (${status.index} + 1)" th:value="*{vitaminAd}" placeholder="请填写维生素AD">
                                    </td>
                                    <td>
                                        <input type="number" th:name="'vitaminD3' + (${status.index} + 1)" th:value="*{vitaminD3}" placeholder="请填写维生素D3">
                                    </td>
                                    <td>
                                        <select th:name="'diarrhea' + (${status.index} + 1)" lay-reqText="请选择是否腹泻！" lay-verify="required">
                                            <option value="">请选择是否腹泻</option>
                                            <option value="是" th:selected="*{diarrhea eq '是'} ? true : _">是</option>
                                            <option value="否" th:selected="*{diarrhea eq '否'} ? true : _">否</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select th:name="'rash' + (${status.index} + 1)" lay-reqText="请选择是否皮疹！" lay-verify="required">
                                            <option value="">请选择是否皮疹</option>
                                            <option value="是" th:selected="*{rash eq '是'} ? true : _">是</option>
                                            <option value="否" th:selected="*{rash eq '否'} ? true : _">否</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select th:name="'bloodyStools' + (${status.index} + 1)" lay-reqText="请选择是否血便！" lay-verify="required">
                                            <option value="">请选择是否血便</option>
                                            <option value="是" th:selected="*{bloodyStools eq '是'} ? true : _">是</option>
                                            <option value="否" th:selected="*{bloodyStools eq '否'} ? true : _">否</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select th:name="'respite' + (${status.index} + 1)" lay-reqText="请选择是否喘息！" lay-verify="required">
                                            <option value="">请选择是否喘息</option>
                                            <option value="是" th:selected="*{respite eq '是'} ? true : _">是</option>
                                            <option value="否" th:selected="*{respite eq '否'} ? true : _">否</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" th:name="'doctorAdvice' + (${status.index} + 1)" th:value="*{doctorAdvice}" placeholder="请填写医生建议">
                                    </td>
                                    <td>
                                        <button th:id="'PC-db-nrDelete' + (${status.index} + 1)" class="pc-btn pc-btn-danger"><i class="iconfont icon-delete"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button id="PC-db-addNR" class="pc-btn"><i class="iconfont icon-zengjia"></i> 新增</button>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="pc-db-save">
                        <button class="pc-btn pc-btn-save" lay-filter="GCNT" lay-submit>保存信息</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 用于移动设备遮罩 -->
        <div id="PC-shade"></div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/js/utils/myTools.min.js}"></script>
<script type="text/javascript" th:src="@{/js/common.min.js}"></script>
<script type="text/javascript" th:src="@{/js/FDWrite.min.js}"></script>
</html>